.watch-ctrl {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 100; }

.search-ctrl md-toolbar md-input-container {
  width: 400px;
  margin-bottom: 0; }

.search-ctrl md-content md-card {
  cursor: pointer; }

.md-fab {
  position: fixed;
  bottom: 30px;
  right: 30px; }

.stream {
  overflow: hidden; }

html {
  min-height: 100%; }

body {
  min-height: 100%; }

md-progress-linear {
  position: fixed;
  bottom: 0;
  z-index: 200; }
